body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:30px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:94px;
  width:155px;
  height:45px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:151px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:94px;
  width:155px;
  height:45px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:151px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:94px;
  width:155px;
  height:45px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:151px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:340px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:342px;
  width:567px;
  height:340px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:421px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:332px;
  width:418px;
  height:421px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:170px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:172px;
  width:698px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:694px;
  word-wrap:break-word;
}
